<header>
  <nav>
    <ul>
      <li>
          <%= link_to 'Home', root_path %>
          <%= link_to 'Orders', food_orders_path %>
          <%= link_to 'Foods', foods_index_path %>
      </li>
    </ul>
  </nav>
</header>