<header>
  <nav>
    <ul>
      <li>
          <%= link_to 'Home', root_path %>
          <%= link_to 'Orders', food_orders_index_path %>
          <%= link_to 'Foods', foods_path %>
          <%= link_to 'About/Contact Us', '/about_contacts' %>
      </li>
    </ul>
  </nav>
</header>